<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kshl.huihuimall.portal.dal.manualmapper.FrontOrderManualMapper">

    <resultMap id="OrderCustomerBaseResultMap" type="com.kshl.huihuimall.console.base.pojo.OrderCustomer">

        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="orderstatus" jdbcType="VARCHAR" property="orderstatus" />
        <result column="merchantname" jdbcType="VARCHAR" property="merchantname" />
        <result column="storename" jdbcType="VARCHAR" property="storename" />
        <result column="storeaddress" jdbcType="VARCHAR" property="storeaddress" />
        <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
        <result column="store_id" jdbcType="INTEGER" property="storeId" />
        <result column="recom_store_id" jdbcType="INTEGER" property="recomStoreId" />
        <result column="storehouse_id" jdbcType="INTEGER" property="storehouseId" />
        <result column="shopkeeper_id" jdbcType="INTEGER" property="shopkeeperId" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="ent_code" jdbcType="VARCHAR" property="entCode" />
        <result column="ifdelete" jdbcType="INTEGER" property="ifdelete" />
        <result column="ordertotal" jdbcType="DECIMAL" property="ordertotal" />
        <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    </resultMap>


    <select id="getOrderByStoreId" parameterType="map" resultType="map">
        SELECT p.*,cu.*  FROM store_order AS p
        LEFT JOIN customer AS cu ON p.user_id = cu.id
        <trim prefix="where" prefixOverrides="and|or">

            <if test="orderstatus != null">
                AND p.orderstatus = #{orderstatus}
            </if>
            <if test="storeId != null">
                AND p.store_id = #{storeId}
            </if>
            <if test="orderNumber != null">
                AND p.order_number = #{orderNumber}
            </if>
        </trim>
        <if test="startPage != null and pageSize != null">
            LIMIT #{startPage,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
        </if>
    </select>

    <select id="getOrderByStoreIdCount" parameterType="map" resultType="Integer">
        SELECT COUNT(p.id)
        FROM store_order AS p
        LEFT JOIN customer AS cu ON p.user_id = cu.id
        <trim prefix="where" prefixOverrides="and|or">
            <if test="orderstatus != null">
                AND p.orderstatus = #{orderstatus}
            </if>
            <if test="storeId != null">
                AND p.store_id = #{storeId}
            </if>
            <if test="orderNumber != null">
                AND p.order_number = #{orderNumber}
            </if>
        </trim>
    </select>

    <update id="updateFrontOrder" parameterType="com.kshl.huihuimall.base.dal.entity.StoreOrder">
        update store_order
        <set>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="orderstatus != null">
                orderstatus = #{orderstatus,jdbcType=VARCHAR},
            </if>
            <if test="merchantname != null">
                merchantname = #{merchantname,jdbcType=VARCHAR},
            </if>
            <if test="storename != null">
                storename = #{storename,jdbcType=VARCHAR},
            </if>
            <if test="storeaddress != null">
                storeaddress = #{storeaddress,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="storeId != null">
                store_id = #{storeId,jdbcType=INTEGER},
            </if>
            <if test="recomStoreId != null">
                recom_store_id = #{recomStoreId,jdbcType=INTEGER},
            </if>
            <if test="storehouseId != null">
                storehouse_id = #{storehouseId,jdbcType=INTEGER},
            </if>
            <if test="shopkeeperId != null">
                shopkeeper_id = #{shopkeeperId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="entCode != null">
                ent_code = #{entCode,jdbcType=VARCHAR},
            </if>
            <if test="ifdelete != null">
                ifdelete = #{ifdelete,jdbcType=INTEGER},
            </if>
            <if test="ordertotal != null">
                ordertotal = #{ordertotal,jdbcType=DECIMAL},
            </if>
            <if test="receiveTime != null">
                receive_time = #{receiveTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where order_number = #{orderNumber,jdbcType=VARCHAR},
    </update>

    <select id="getOrderByOrderNumber" parameterType="java.lang.String" resultMap="OrderCustomerBaseResultMap">
            SELECT
        p.*, c.phone_number
    FROM
        store_order AS p
    LEFT JOIN customer AS c ON p.user_id = c.id
    WHERE
        p.order_number = #{orderNumber}
    </select>

</mapper>