<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kshl.huihuimall.console.dal.manualmapper.MerchantManualMapper">

    <select id="queryMerchantReview" parameterType="map" resultType="map">
        SELECT * FROM merchant m where  m.audit_status =0
            <if test="name != null">
                AND m.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="startPage != null and pageSize != null">
            LIMIT #{startPage,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
            </if>
    </select>

    <select id="queryMerchantReviewCount" parameterType="map" resultType="Integer">
        SELECT COUNT(*) FROM merchant m where  m.audit_status =0
            <if test="name != null">
                AND m.name LIKE CONCAT('%', #{name}, '%')
            </if>
    </select>

    <select id="queryMerchantMg" parameterType="map" resultType="map">
        SELECT * FROM merchant mer join ks_account a on mer.ent_code=a.merchant_code
        where audit_status =1
        <if test="accountId != 1">
            and a.id=#{accountId}
        </if>
        <if test="name != null">
            AND mer.name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="startPage != null and pageSize != null">
            LIMIT #{startPage,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
        </if>
    </select>

    <select id="queryMerchantMgCount" parameterType="map" resultType="Integer">
        SELECT COUNT (*) FROM merchant mer join ks_account a on mer.ent_code=a.merchant_code
        where audit_status =1
        <if test="accountId != 1">
            and a.id=#{accountId}
        </if>
        <if test="name != null">
            AND mer.name LIKE CONCAT('%', #{name}, '%')
        </if>
    </select>

    <update id="closeMerchant" parameterType="map">
        update merchant
        set
        enable_status = #{enableStatus,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateReviewStatus" parameterType="map">
        update merchant set
        audit_status = #{auditStatus,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="queryMerchantCode" parameterType="map" resultType="com.kshl.huihuimall.base.dal.entity.Merchant">
        SELECT ent_code AS entCode FROM merchant   where id=#{id}
    </select>

    <select id="getAccountCode" parameterType="map" resultType="com.kshl.huihuimall.base.dal.entity.KsAccount">
        SELECT merchant_code AS merchantCode FROM ks_account   where id=#{id}
    </select>

    <select id="queryMerchantIdByentCode" parameterType="map" resultType="com.kshl.huihuimall.base.dal.entity.Merchant">
        SELECT id,name,phone,regist_address as registAddress,business_license_number as businessLicenseNumber,
        institution_code_number as institutionCodeNumber, account_opening_license as accountOpeningLicense,
        tax_registry_number as taxRegistryNumber,legal_person_name as legalPersonName,legal_person_contact as legalPersonContact,
        coverage_area as coverageArea,number_of_branches as numberOfBranches,annual_sales as annualSales,
        profit as profit,logistics_type as logisticsType,linkman_name as linkmanName,linkman_mobile as linkmanMobile,
        main_product as mainProduct,bank_name as bankName,bank_number as bankNumber, legal_person_idcard as legalPersonIdcard,
        business_licence as businessLicence,management_place_photos as managementPlacePhotos,company_door_face_photos as companyDoorFacePhotos,
        management_place_that as managementPlaceThat,enable_status as enableStatus,ent_code as entCode,audit_status as auditStatus,
        audit_time as auditTime,regist_amount as registAmount,company_logo as companyLogo,linkman_idcardfront_photo as linkmanIdcardfrontPhoto,
        linkman_idcardbase_photo as linkmanIdcardbasePhoto,business_license_photo as businessLicensePhoto,email as email,
        zip_code as zipCode,hygienic_license as hygienicLicense
        FROM merchant    where ent_code=#{entCode}
    </select>

    <select id="queryRoleIdByEntcode" parameterType="map" resultType="com.kshl.huihuimall.base.dal.entity.KsRole">
        SELECT * from ks_role  where entCode=#{entCode}
   </select>

    <select id="queryAccountIdByEntcode" parameterType="map" resultType="com.kshl.huihuimall.base.dal.entity.KsAccount">
        SELECT id,name,merchant_id as merchantId,merchant_code as merchantCode from ks_account  where merchant_code=#{entCode}
    </select>

</mapper>