.file {
    position: relative;
    display: inline-block;
    background: #3c8dbc;
    border: 1px solid #3c8dbc;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #FFFFFF;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #44a3da;
    border-color: #44a3da;
    color: #FFFFFF;
    text-decoration: none;
}