select{
    background-color: #FFFFFF;
}
.enterprise,.personal{
    cursor: pointer;
}
.login_zhuce{
    padding: 15px 0 0 20px;
    font-size: 15px;
    color: #333333;
    font-family: PingFang-SC-Medium;
    background-color: #FFFFFF;
}
.login_div{
    padding-bottom: 20px;
}
.login_label{
    padding:0;
    margin-top: 7px;
    font-size: 15px;
    font-family: PingFang-SC-Medium;
    color: #333333;
    padding: 0;;
}
.login_input{
    height: 40px;
    border: 1px solid #999999;
    color: #999999;
    border-radius: 2px;
    padding-left: 10px;
}

.degree {
    padding: 13px 115px 12px 115px;
    font-family: "microsoft yahei";
    font-size: 16px;
    color: #333333;
    background-color: #fffced;
}
.degree img{
    margin-right: 10px;
    margin-top: -3px;
    width: 20px;
}
.ul_main li {
    float: left;
    list-style: none;
    font-family: PingFang-SC-Medium;
    font-size: 16px;
    color: #333333;
}
.ul_main li:nth-child(1) {
    margin-right: 1%;
}

.ul_main li:nth-child(2) {
    margin-right: 1%;
}

.ul_main li:nth-child(3) {
    margin-right: 0;
}
.ul_main li img{
    margin-right: 12px;
    margin-top: -2px;
    width: 20px;
}
.choice {
    padding: 17px 0px 18px 0px;
    background-color: #FFFFFF;
}

.basicInfo{
    padding:0px;
    background-color: #FFFFFF;
}

.information {
    padding: 20px 0 10px 14px;
    font-size: 14px;
    font-family: PingFang-SC-Medium;
    color: #666666;
    background-color: #f5f5f5;
}

.information_name,
.information_number,
.face_name,
.information_year,
.information_money {
    padding: 15px 0 15px 20px;
    font-size: 15px;
    color: #333333;
    font-family: PingFang-SC-Medium;
}
.information_money{
    position: relative;
}
.information_name label,
.information_number label,
.information_year label,
.information_money label,
.face_name label {
    padding:0;
    margin-top: 7px;
    font-size: 15px;
    font-family: PingFang-SC-Medium;
    color: #333333;
    padding: 0;
}
.information_name input,
.information_number input,
.face_name input,
.information_year input,
.information_money input {
    height: 40px;
    border: 1px solid #999999;
    color: #999999;
    border-radius: 2px;
    padding-left: 10px;
}

.information_type {
    padding: 15px 0 0 20px;
}

.information_type label {
    padding:0;
    font-size: 15px;
    color: #333333;
    font-family: PingFang-SC-Medium;
}

.information_type select {
    width: 76px;
    height: 36px;
    font-family: PingFang-SC-Medium;
    font-size: 15px;
    color: #999999;
    padding-left: 10px;
    margin: 0;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background-image: url(../../../../images/frontpages/common/select.png);
    -webkit-background-size:20%;
    background-size: 12%;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

.information_type select option {
    font-family: PingFang-SC-Medium;
    font-size: 15px;
    color: #999999;
    border-radius: 2px;
}


.face_position {
    padding: 20px 0 0 20px;
}

.face_position label {
    padding:0;
    font-size: 15px;
    color: #333333;
    font-family: PingFang-SC-Medium;
}

.face_position input {
    width: 14px;
    height: 14px;
    margin-right: 7px;
    border: 1px solid #9b9b9b;
    background-color: #FFFFFF;
}

.face_position span {
    font-size: 15px;
    color: #999999;
    font-family: PingFang-SC-Medium;
}

.right_124 {
    margin-right: 62px;
}

.right_154 {
    margin-right: 77px;
}

.information_year span {
    position: relative;
    right: 25px;
    top: 9px;
}

.information_money span {
    position: absolute;
    right: 40px;
    top: 25px;
}

.commodity_name,
.commodity_money,
.person_time {
    padding: 15px 0 0 20px;
    font-size: 15px;
    color: #333333;
    font-family: PingFang-SC-Medium;
}
.person_time{
    position: relative;
}
.commodity_name label,
.commodity_money label,
.person_time label {
    padding:0;
    margin-top: 7px;
    font-size: 15px;
    font-family: PingFang-SC-Medium;
    color: #333333;
}

.commodity_name input,
.commodity_money input,
.person_time input {
    height: 40px;
    border: 1px solid #999999;
    color: #999999;
    border-radius: 2px;
    padding-left: 10px;
}

.commodity_money span {
    position: relative;
    top: 9px;
    right:25px;
}

.person_time span {
    position: absolute;
    top: 25px;
    right: 40px;
}

.application {
    padding: 15px 0 20px 20px;
    font-size: 15px;
    color: #333333;
    font-family: PingFang-SC-Medium;
    position: relative;
    border-bottom: 1px solid #f5f5f5;
}

.application>label {
    padding:0;
    margin-top: 7px;
}

.application>input {
    height: 40px;
    position: absolute;
    left: 120px;
    z-index: 2;
    opacity: 0;
}

.application p {
    height: 40px;
    border: 1px solid #999999;
    color: #999999;
    border-radius: 2px;
    padding-left: 10px;
    position: absolute;
    left: 120px;
    line-height: 40px;
    z-index: 0;
}

.application p button {
    position: absolute;
    width: 78px;
    height: 27px;
    border: 1px solid #666666;
    font-size: 12px;
    line-height: 20px;
    border-radius: 2px;
    background-color: #f2f2f2;
    top:6px;
    right: 5px;
}

.license_title {
    padding: 13px 0 17px 17px;
    font-size: 15px;
    font-family: PingFang-SC-Medium;
    color: #333333;
}

.license_Photo{
    margin-bottom: 11px;
    position: relative;
}
.on{
    width: 240px;
    height: 150px;
    display: none;
    overflow: hidden;
    margin: 0 auto;
    border: 1px dashed #000000;
}
.on img{
    width: 240px;
    height: 150px;
}
.license_Photo input {
    margin-top: -22px;
    border: 0;
    width: 240px;
    height: 150px;
    opacity: 0;
}
.license_Photo a:hover,.license_Photo a:active{
    text-decoration: none;
}

.license_Photo>a>span{
    font-family: "microsoft yahei";
    font-size: 16px;
    color: #999999;
    position: relative;
    top: 89px;
}
.license_Photo .upload {
    display: block;
    width: 240px;
    height: 150px;
    border: 1px dashed #000000;
    box-sizing: border-box;
    background-image: url(../../../../images/frontpages/common/push.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% 30% ;
    margin: 0 auto;
}
.border_bt{
    border-bottom: 1px solid #f5f5f5;
    padding:0 0 10px 0;
}
.submit{
    padding: 28px 0px 39px 0px;
    background-color: #f5f5f5;
}
.All_data{
    font-size: 14px;
    font-family: PingFang-SC-Heavy;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 130px 14px 130px;
    background-color: #C57030;
    border: 0;
    border-radius: 4px;
}



.Essential_information{
    padding:0 0 15px 20px;
}

.Essential_information label{
    margin-top: 7px;
    font-size: 15px;
    font-family: PingFang-SC-Medium;
    color: #333333;
}

.Essential_information select {
    height: 40px;
    border: 1px solid #999999;
    color: #999999;
    border-radius: 2px;
    padding-left: 10px;
    font-family: PingFang-SC-Medium;
    font-size: 15px;
    margin-right: 6px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background-image: url(../../../../images/frontpages/common/select.png);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    background-size: 5%;
}

.Essential_information select option{
    font-family: PingFang-SC-Medium;
    font-size: 15px;
    color: #999999;
    border-radius: 2px;
}

.Bank_number{
    padding: 0px;
}
.Bank_number label{
    margin-top: 7px;
    font-size: 15px;
    font-family: PingFang-SC-Medium;
    color: #333333;
    margin-right: 9px;
}
.Bank_number input{
    margin-left: 60px;
    width: 251px;
    height: 40px;
    border: 1px solid #999999;
    color: #999999;
    border-radius: 2px;
    padding-left: 10px;
    font-family: PingFang-SC-Medium;
    font-size: 15px;
    color: #999999;
}

.main_information{
    padding:0;
}
.three_padding{
    padding:0;
}
.three_padding select{
    background-color: #FFFFFF;
}


.Contact_address {
    padding: 15px 0 0 20px;
}

.Contact_address label {
    padding:0;
    font-size: 15px;
    color: #333333;
    font-family: PingFang-SC-Medium;
}

.Contact_address select {
    width: 76px;
    height: 36px;
    font-family: PingFang-SC-Medium;
    font-size: 15px;
    color: #999999;
    padding-left: 10px;
    margin: 0;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background-image: url(../../../../images/frontpages/common/select.png);
    -webkit-background-size:20%;
    background-size: 12%;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

.Contact_address select option {
    font-family: PingFang-SC-Medium;
    font-size: 15px;
    color: #999999;
    border-radius: 2px;
}
.peopleInfo{
    padding:0px;
    background-color: #FFFFFF;
}
.DoorNumber,.DoorNumber_people{
    width: 155px;
    height:34px;
    border: 1px solid #999999;
}

.three_padding select{
    margin: 0px 0px 10px 0px;
}