.saleservice-panel{
    padding: 0px;
    /*overflow: auto;*/
}

.orders-panel{
    padding:0px;
    margin:5px 0px 0px 0px;
    border-bottom:1px solid #e7e7e7;
}

.orders-panel:first-child{
    margin-top:10px;
}

.orders-panel:last-child{
    margin-bottom:10px;
}

.order-number-status{
    padding: 10px;
    background-color: #fffbed;
}

.goods-type{
    border:1px solid #c57030;
    padding: 2px 4px;
    color:#c57030;
    border-radius: 4px;
    font-size:xx-small;
    position: relative;
    top: -3px;
}

.order-status{
    float: right;
}

.order-detail-panel{
    padding: 10px 10px 0px 10px;
    background-color: #FFFFFF;
}

.order-goods-img{
    padding:0px;
    border:1px solid #e7e7e7;
}

.order-info{
    padding:0px 0px 0px 15px;
}

.date-name{
    padding:0px;
}

.date{
    text-align: right;
    padding:0px;
}

.name{
    padding:0px;
}

.sum-price-viewmore{
    padding:10px 0px 10px 0px;
}

.sum-price{
    padding:0px;
}

.viewmore{
    text-align: right;
    padding:0px;
    text-decoration: none;
    color:#444444;
    font-size: 14px;
}

