.pagination-panel {
	height: auto;
}

.pagination-panel label {
	font-weight: normal;
}

.dataTables_info {
	text-align: center;
	line-height: 35px;
	margin-bottom: 8px;
}
.dataTables_paginate,.paging_simple_numbers
{
	text-align: center;
}

.pagination>li>a,
.pagination>li>a:focus {
	background-color: #3c8dbc;
	color: #FFF;
}

.pagination>li>a:hover {
	background-color: #44a3da;
	color: #FFF;
}

.pagination>li:last-child>a {
	margin-left: 15px;
}
#nextPage
{
	margin-left: 15px;
}
.pagination>li:first-child>a
{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;	
}
.pagination>li:last-child>a
{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}